<% if (env.loading) { %>
  <!-- Loading game data -->
  <div class="col-12 spinner-wrapper-match-data">
      <div class="spinner"></div>
  </div>
<% } else if (env.error || !env.data || env.data.length == 0) {%>
  <!-- Error loading data -->
  <div class='col-lg-10'>
      <div class='m-3'>Error loading content, please try again.</div>
  </div>
<% } else { %>
  <div class='match-header-wrapper'>
      <table class='match-table'>
          <thead>
              <tr class='match-headers'>
                  <th class='match-header-rank' scope="col" data-l10n='stats-rank' data-caps='true'>RANK</th>
                  <th class='match-header-icon hide-xs' scope="col"></th>
                  <th class='match-header-player' scope="col" data-l10n='stats-player' data-caps='true'>PLAYER</th>
                  <th class='match-header-stat' scope="col" data-l10n='stats-kills' data-caps='true'>KILLS</th>
                  <th class='match-header-stat hide-xs' scope="col" data-l10n='stats-damage' data-caps='true'>DAMAGE</th>
                  <th class='match-header-stat' scope="col" data-l10n='stats-survived' data-caps='true'>SURVIVED</th>
              </tr>
          </thead>
      </table>
  </div>
  <div class='match-table-wrapper'>
      <table class='match-table'>
        <thead>
            <tr class='match-headers'>
              <th class='match-header-rank'></th>
              <th class='match-header-icon hide-xs'></th>
              <th class='match-header-player'></th>
              <th class='match-header-stat'></th>
              <th class='match-header-stat hide-xs'></th>
              <th class='match-header-stat'></th>
          </tr>
        </thead>
        <tbody class='match-values'>
          <% var team_id = 0;
             var teamIdx = 0; %>
          <% for (var i = 0; i < env.data.length; i++) { %>
              <%
                  var d = env.data[i];
                  var showRank = false;
                  if (team_id != d.team_id) {
                      team_id = d.team_id;
                      teamIdx += 1;
                      showRank = true;
                  }
              %>
              <tr class='main single-player <%= teamIdx % 2 == 0 ? 'match-row-dark' : 'match-row-light' %> <%= d.player_id == env.localId ? 'match-row-local' : '' %>'>
                  <% if (showRank) { %>
                      <td class='data-rank' scope="row">#<%= d.rank %></td>
                  <% } else { %>
                      <td></td>
                  <% } %>
                  <td class='data-player-status hide-xs'>
                      <% if (env.localId != 0 && d.killer_id == env.localId) { %>
                          <div class='player-icon player-kill'></div>
                      <% } %>
                      <% var killed_ids = d.killed_ids || []; %>
                      <% for (var j = 0; j < killed_ids.length; j++) { %>
                          <% if (env.localId != 0 && killed_ids[j] == env.localId) { %>
                              <div class='player-icon player-death'></div>
                              <% break %>
                          <% } %>
                      <% } %>
                  </td>
                  <td class='data-player-names'>
                      <span class='player-name'>
                      <% if (d.slug) { %>
                          <a class='player-slug' href="/stats/?slug=<%= d.slug %>"><%= d.username %></a>
                      <% } else { %>
                          <%= d.username %>
                      <% } %>
                      </span>
                  </td>
                  <td><%= d.kills %></td>
                  <td class='hide-xs'><%= d.damage_dealt %></td>
                  <td>
                      <%= env.formatTime(d.time_alive) %>
                  </td>
              </tr>
          <% } %>
        </tbody>
      </table>
  </div>
<% } %>
